---
import Section from "../Section.astro"

import { basics, titles } from "@cv"
const { summary } = basics
const { about_title } = titles
---

<Section title={about_title}>
  <p>
    {summary}
  </p>
</Section>
